/wp-admin/
/wp-includes/
/wp-content/plugins/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup*/
/wp-content/uploads/*
!/wp-content/uploads/2026/
!/wp-content/uploads/2026/03/
!/wp-content/uploads/2026/03/hero.png
!/wp-content/uploads/2026/03/rcc.PNG
!/wp-content/uploads/2026/03/MEGASTRUCT.png
!/wp-content/uploads/2026/03/MESSEDEX.png
!/wp-content/uploads/2026/03/MESSODEX.png
!/wp-content/uploads/2026/03/BOOTH.png
!/wp-content/uploads/hero.png
!/wp-content/uploads/rcc.PNG
!/wp-content/uploads/MEGASTRUCT.png
!/wp-content/uploads/MESSEDEX.png
!/wp-content/uploads/MESSODEX.png
!/wp-content/uploads/BOOTH.png
!/wp-content/uploads/megastruct.jpeg
!/wp-content/uploads/messodex.jpeg
!/wp-content/uploads/megastruct-logo.jpeg
!/wp-content/uploads/messodex-logo.jpeg
/wp-content/object-cache.php
/wp-config.php
/wp-config-local.php
/.htaccess
/local-xdebuginfo.php
*.log
*.sql
*.zip
node_modules/
vendor/
